@font-face {
	font-family: OSP-DIN;
	src: url(../font/OSP-DIN.ttf);
}

body {
	text-align: center;
	background: black;
	color: white;
	font-family: 'OSP-DIN', Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	-webkit-animation: random 300s infinite;
	animation: random 300s infinite;
	-webkit-user-select: none;
	user-select: none;
}

@-webkit-keyframes random {
	0% { background-color: black; }
	25% { background-color: maroon; }
	50% { background-color: indigo; }
	75% { background-color: darkgreen; }
	100% { background-color: midnightblue; }
}

#clock {
	position: fixed;
	text-align: center;
	width: 100%;
}

#weather {
	position: fixed;
	text-align: center;
	margin-top: 15vmin;
	width: 100%;
}

#time {
	font-size: 75vmin;
	margin-bottom: -15vmin;
}

#date {
	font-size: 20vmin;
	color: #ccc;
}

#current {
	display: inline-block;
}

#forecast {
	margin-left: 10vmin;
	display: inline-block;
}

.wi {
	font-size: 45vmin;
}

.desc {
	font-size: 10vmin;
	margin-bottom: 0.5vmin;
}

.celsius {
	font-size: 8vmin;

}

.temp {
	font-size: 25vmin;
	vertical-align: top;
}
