@font-face {
	font-family: OSP-DIN;
	src: url(../font/OSP-DIN.ttf);
}

body {
	text-align: center;
	background: gray;
	color: white;
	font-family: 'OSP-DIN', Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	-webkit-user-select: none;
	user-select: none;
}

#shell {
	position: fixed;
	width: 100%;
	height: 100%;
}

#display {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: black;
	-webkit-animation: random 300s infinite;
	animation: random 300s infinite;
}

@-webkit-keyframes random {
	0% { background-color: black; }
	25% { background-color: maroon; }
	50% { background-color: indigo; }
	75% { background-color: darkgreen; }
	100% { background-color: midnightblue; }
}

.wi {
	font-size: 20vmin;
}

#timedate {
	height: 150%;
}

#current {
	height: 100%;
} 

.day {
	font-size: 3.5vmin;
	margin-bottom: 1.5vmin;
}

.desc {
	font-size: 5vmin;
	margin-top: 6vmin;
	margin-bottom: 0.5vmin;
}

.currentTemp {
	font-size: 3.5vmin;
}

.temp {
	font-size: 15vmin;
}

.tvminp {
	font-size: 2.5vmin;
}


#time {
	font-size: 26vmin;
}

#date {
	font-size: 6vmin;
	color: #ccc;
}
